body{
    font-family: Verdana, sans-serif;
}
.container{
    max-width: 1840px;
    margin: 0 auto;
}
/*Section Header*/
.section-header{
   background-color: gray;
   color: white;
}
.wrapper-flex-header{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 30px 20px;
}
.logo{
   font-size: 35px;
   margin-right: 20px;
}
.section-header ul{
   display: flex;
   flex-direction: row;
}
.section-header li{
   display: block;
   padding-right: 30px;
   font-size: 18px;
}
.section-header li a{
   text-decoration: none;
   color: white;
}
.search{
   display: flex;
   flex-direction: row;
   margin-left: auto;
}
.section-header INPUT[type="search"]{
   width: 350px;
   border: 1px white solid;
   border-radius: 40px;
   background-color: gray;
   padding: 15px;
   margin-right: 20px;
}
.section-header INPUT[type="search"]::-webkit-input-placeholder{
   font-style: italic;
   color: white;
}
.section-header img{
   width: 50px;
   cursor: pointer;
}
/*Section Main*/
.wrapper-flex-main{
   display: flex;
   flex-direction: row;
   padding: 50px 20px;
}
.left-side{
   width: 50vw;
   padding-right: 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.left-side ul{
     display: flex;
     flex-direction: row;
     padding-left: 0;
 }
.left-side li{
    display: block;
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px gray solid;
    border-radius: 5px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}
.left-side button{
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 15px;
    background-color: #525252;
    color: white;
    cursor: pointer;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.right-side{
   width: 50vw;
}
.right-side>img{
   width: 100%;
}
.right-side>p{
   display: flex;
   justify-content: space-evenly;
   padding: 0 40px;
}
.right-side>p>img{
   width: 24%;
}


@media (min-width:580px) and (max-width:960px){
   .container{
       max-width: 900px;
   }
    /*Section Header*/
    .wrapper-flex-header{
       padding: 20px;
   }
   .section-header ul{
       margin-left: auto;
   }
   .section-header li{
       padding-right: 20px;
   }
    .search{
        margin-left: 10px;
    }
   .section-header INPUT[type="search"]{
       display: none;
   }
    /*Section Main*/
   .wrapper-flex-main{
       display: flex;
       flex-direction: column;
       padding: 50px 20px 0 20px;
   }
   .left-side{
       display: contents;
   }
    .bottom{
        order: 1;
    }
   .right-side{
       width: 100%;
   }
}

@media (max-width:580px){
   .container{
       max-width: 540px;
   }
    /*Section Header*/
   .wrapper-flex-header{
       display: flex;
       flex-direction: column;
       padding: 20px 10px 30px 10px;
   }
   .section-header INPUT[type="search"]{
       display: none;
   }
   .section-header img{
       display: none;
   }
    /*Section Main*/
   .wrapper-flex-main{
       display: flex;
       flex-direction: column;
       padding: 50px 10px 0 10px;
   }
   .left-side{
       display: contents;
   }
    .bottom{
        display: contents;
    }
    .bottom-left{
        order: 1;
        margin: 0 auto;
    }
    .bottom-right{
        display: contents;
    }
    .bottom-right button{
        order: 2;
        margin: 10px auto 30px auto;
        width: 300px;
    }
   .right-side{
       width: 100%;
   }
   .right-side>p>img{
       display: none;
   }

}




